
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Lender</h4>
					<p class="category">List of Lenders are registered in the
						System</p>
				</div>
				<br />
				<div class="col-md-12 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<span>Lenders  <span class="badge">{{users.length}}</span></span>
						</div>

						<div class="card-content table-responsive">
							<table class="table">
								<thead class="text-primary">
									<tr>
										<th colspan="10"><input type="text" name="searchData"
											class="form-control" data-ng-model="searchLender"
											placeholder="Type anything to search llender"></th>
									</tr>
									<tr>
										<th>Sr No.</th>
										<th>Lender Name</th>
										<th>Email</th>
										<th>Mobile</th>
										<th>Name</th>
										<th>Bank/NBFC</th>
										<th>Product</th>
										<th>No Of Invitations Sent</th>
										<th>Active</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="user in users | filter : searchLender"
										class="{{userData.id == user.id ? 'bg-info' : ''}}">
										<td>{{$index + 1}}</td>
										<td>{{ (!isEmpty(user.firstName) &&
											!isEmpty(user.lastName) ? user.firstName + ' ' +
											user.lastName : user.firstName || Constant.NA )}}</td>
										<td>{{user.email || Constant.NA}}</td>
										<td>{{user.mobile || Constant.NA}}</td>
										<td>{{user.firstName + ' ' + user.lastName || Constant.NA}}</td>
										<td>{{user.bank.name || Constant.NA}}</td>
										<td>{{user.applications[0].applicationTypeName || Constant.NA}}</td>
										<td>{{user.invitationCount || 0}}</td>
										<td><is-active status="{{user.isActive}}"></is-active></td>
										<td><button type="button" class="btn btn-primary btn-sm"
												ng-click="editUserData(user)">Edit</button>
											<button type="button" class="btn btn-info btn-sm"
												data-ng-if="user.isActive"
												ng-click="inviteLender(user,$index)">Invite</button></td>
									</tr>
									<tr data-ng-if="isEmpty(users)">
										<td colspan="9" class="alert alert-default text-center">No
											Users are registered Yet!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="container-fluid">
						<div class="row">
							<div class="card">
								<div class="card-content">
									<form name="forms.lenderForm"
										data-ng-submit="updateLenderDetails()" novalidate>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Email address <span
														class="text-danger">*</span></label> <input id="userEmail" type="email"
														name="email" class="form-control"
														data-ng-model="userData.email" required>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Mobile <span
														class="text-danger">*</span></label> <input type="text"
														name="mobile" class="form-control"
														data-ng-model="userData.mobile" required>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Password <span
														class="text-danger">*</span></label> <input type="password"
														name="password" class="form-control"
														data-ng-model="userData.password" required>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Confirm Password <span
														class="text-danger">*</span></label> <input type="password"
														name="confirmPassword" class="form-control"
														data-ng-model="userData.confirmPassword" required>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Salutation <span
														class="text-danger">*</span></label> <select class="form-control"
														data-ng-model="userData.salutation"
														data-ng-options="salu.id as salu.name for salu in salutations">
														<option value="">Select Salutation</option>
													</select>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">First Name <span
														class="text-danger">*</span></label> <input type="text"
														name="firstName" class="form-control"
														data-ng-model="userData.firstName" required>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Middle Name</label> <input
														type="text" name="middleName" class="form-control"
														data-ng-model="userData.middleName">
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Last Name <span
														class="text-danger">*</span></label> <input type="text"
														name="lastName" class="form-control"
														data-ng-model="userData.lastName" required>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Banks<span
														class="text-danger">*</span></label> <select class="form-control"
														data-ng-model="userData.bank.id"
														data-ng-options="bank.id as bank.name for bank in banks">
														<option value="">Select Banks</option>
													</select>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<label class="control-label">Application<span
														class="text-danger">*</span></label> <select class="form-control"
														data-ng-model="userData.applicationTypeId"
														data-ng-options="appType.id as appType.name for appType in applicationTypes"
														required>
														<option value="">Select Application</option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4">
												<div class="pull-right">
													<span class="align-middle">Is Active &nbsp;<input
														type="checkbox" name="isActive"
														data-ng-model="userData.isActive"></span>
													<button type="submit" class="btn btn-primary">Submit</button>
													<button type="submit" data-ng-if="userData.id"
														data-ng-click="resetUser()" class="btn btn-default">Reset</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>